.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* background-color: #8ddddd; */
  /* White shade background */
  /* background: linear-gradient(to bottom right, #F2E8D8, #E6EFF2);  */
  background: linear-gradient(to bottom right, #FFC0CB, #FFA07A, #FFD700);
}

body {
  padding: 0;
  margin: 0;
}

